@import "tailwindcss";
#root {
  max-width: 1280px;
  min-height: 100vh;
  /* background-color: rgb(244, 247, 244);
  background-color: rgb(211, 214, 214); */
  color : rgb(10, 10, 10) ; 
  margin: 0  auto;
}